html, body {
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(img/dugtrio.png);
    background-size: cover;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 200px); /* 3 columns */
    grid-gap: 20px; /* Gap between squares */
}

.square {
    width: 200px;
    height: 200px;
    background-color: #ffffff; 
    color: #fff; 
    line-height: 100px;
    cursor: pointer;
    border: 2px solid rgb(0, 0, 0); 
}

.mole{
    background-image: url(img/diglett.jpg);
}

h2 {
    font-size: 25px;
    margin: 10px 0;
}

#score, #time-left {
    font-size: 24px;
    font-weight: bold;
}

