body{
    background: url(imgs/background.png);
}


.grid {
    position: relative;
    width: 560px;
    height: 300px;
    margin: 0 auto;
    border: 2px solid black;
    background-color: #f0f0f0;
    background: url(imgs/background_0.png);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: #4398e8;
    border: 1px solid #fff;
    box-sizing: border-box;
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: #cb056f;
    border: 1px solid #fff;
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: #ff0000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#score {
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    color: #f7f5f5;
    margin-top: 10px;
}
